
		{% extends "levels/message.html" %}

		{%block page-fold-pre%}
        {% load static %}
 
        <link rel="shortcut icon" href="{% static "images/favicon2.png" %}"> 
        <link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/pfold.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/custom1.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">
		 <script type="text/javascript" src="{% static "js/message/jquery-1.10.2.min.js"%}"></script>
    
		<script type="text/javascript" src="{% static "js/modernizr.custom.79639.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.pfold.js" %}"></script>
		<!--[if lte IE 8]><style>.support-note .note-ie{display:block;}</style><![endif]-->
		<style>

			@font-face {
    font-family: "Satisfy";
    src: url("{% static "font/Satisfy.ttf" %}");
}


			body { background: #98867E; }
			.container > header h1 {
			    color: #ff0;
			    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			}

			.container > header h2,
			p.info  {
			    color: #4e2f1d;
			    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
			}
		</style>


    {%endblock%}

    {%block page-fold%}
        <div class="container-page">


			<section class="main-letter demo-1">
			
				<div id="uc-container" class="uc-container uc-current" style="perspective: 1200px; transition: all 1350ms linear 0s; left: 0px; top: 0px;">

					<div class="uc-initial"><div class="uc-initial-content">
					
						<!-- custom content -->
						<span class="clickme">Jhon Watson</span>
						
					</div></div>

					
					
				<div class="uc-final-wrapper" style="width: 600px; height: 300px; left: -150px; top: 0px;"><div class="uc-initial" style="display: none;"><div class="uc-initial-content">
					
						<!-- custom content -->
						<span class="clickme">Jhon Watson</span>
						
					</div></div><div class="uc-final" style="display: block;"><div class="uc-final-content" style="width: 600px; height: 300px; display: block;">
					f	<!-- custom content -->
						<div class="scrollwrap letter-content" style="color: #224092">
							<h3>Dear Friend,</h3>
							<p>Sherlock Holmes is missing. Jim Moriarity is back and he got sherlock. He challenged me to solve his riddle to free Sherlock. I need your help to figure out a way to bring our friend home.herlock Holmes is missing. Jim Moriarity is back and he got sherlock. He challenged me to solve his riddle to free Sherlock. I need your help to figure out a way to bring our friend home. 

							</p><p class="signature"><big>Yours, John Watson</big></p>
						</div>
						<!-- <span class="close">x</span> -->
					</div></div></div></div>
				<p class="info"><strong></strong></p><center><strong>John Watson's message</strong></center><strong> </strong><p></p>
			</section>
			
		</div>
		
		
		<script type="text/javascript">
			$(function() {

				var $container = $( '#uc-container' ),
					pfold = $( '#uc-container' ).pfold({
						easing : 'ease-in-out',
						folds : 3,
						folddirection : ['left','bottom','right']
					});

				$container.find( 'span.clickme' ).on( 'click', function() {

					pfold.unfold();

				} ).end().find( 'span.close' ).on( 'click', function() {

					pfold.fold();

				} );
				
			});
		</script>
    {%endblock%}
{%block register-form%}
<div class="container-contact100">

		<div class="wrap-contact100">
			<script type="text/javascript">var submitted=false;</script>
			<!-- <iframe name="hidden_iframe" id="hidden_iframe" style="display: none" onload="submitted&&(window.location="https://www.google.com")" style="display: none"> -->

			<form class="contact100-form validate-form" action="https://docs.google.com/forms/d/e/1FAIpQLScXeCC9rzf8hSRrKfbZ8zvvAcIrme8EgP-Gye_pI8YN8hazdA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
				<span class="contact100-form-title">
					<!-- Send Us A Message -->
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="text"  name="entry.2005620554" placeholder="Full Name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
					<input class="input100" type="email"  name="entry.1045781291" placeholder="E-mail" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="tel"  name="entry.1490663742" placeholder="Phone" required>
					<span class="focus-input100" pattern="[3456789][0-9]{9}" required></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your college">
					<input class="input100"  name="entry.1333170355"  placeholder="Your college"></input>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							
							Register
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

{%endblock%}