<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>LEVEL 6</title>
{% load static %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" />
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
 <link rel="icon" href="{% static "images/favicon.jpg" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
  


$(document).ready(function(){
  $("#submitData").click(function(){
    username = $("#username").val();
    password = $("#password").val()
// TODO
    if (password == "049DCA6B1BA0235FAC48A2B596E1804C" && username != ""  ){

      
      $.ajax({
        // TODO
         url: '/levels/6/',
         data: {'username': username, 'password':password},
         type: 'POST'
       }).done(function(response){
         console.log(response);
         alert("correct");
      
       });
     



      // $("div").load("level1.html");
      // window.open("../2","_self")
    }

    else {

       alert("wrong");
    }

  });
});
</script>





</head>
<body>

<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{%url 'leaderboard'%}">Leaderboard</a></li>
    <li><a href="{%url 'submissions'%}">Submissions</a></li>
    <li class="active"><a href="{%url 'level1'%}">Challenges</a></li>
    <li><a href="https://www.instagram.com/codingclubrvce">Coding Club</a></li>
    <li><a href="http://8thmile.rvce.edu.in">8th mile</a></li>
  </ul>
</div>
<div id="header">
  <div id="logo">
    <h1><a href="#">Finding Sherlock</a></h1>
    <!-- TODO -->
    <h2><a href="#">LEVEL 6</a></h2>
  </div>
</div>
<div id="page">
  <div id="content">
    <div style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #999999;">
      <h1 class="title">Welcome to 8th Mile!</h1>

      <!-- TODO -->
      <p><i>“Everything is not as it seems ! ”</i> - Saksham Garg</p>
      <p><a href="{% static "resources/sherlock.zip" %}" download>Click me !</a></p>
      <p>Enter the password to continue to next level : </p>
<!--       <form>
          <label>User :</label>
          <input type="textbox" name="username" id="username">
          <br><br>
          <label>password :</label>
          <input type="textbox" name="password" id="password">
          <br><br>
          <input type="button" name="submit" id="submitData" value="Submit">


      </form>
 -->
    <p style="color: red">{{error_message}}</p>
    <!-- TODO -->
      <form action="{%url 'level6'%}" method="post">
    
    {% csrf_token %}
    {{ form }}
          
    <input type="submit" value="Submit">
</form>


    </div>
    <div>&nbsp;</div>
        <div class="twocols">
      <div class="col1">
        <h3 class="title">levels</h3>
        <a href="{%url 'level1'%}">LEVEL 1</a><br>
        <a href="{%url 'level2'%}">LEVEL 2</a><br>
        <a href="{%url 'level3'%}">LEVEL 3</a><br>
        <a href="{%url 'level4'%}">LEVEL 4</a><br>
        <a href="{%url 'level5'%}">LEVEL 5</a><br>
        <a href="{%url 'level6'%}">LEVEL 6</a><br>
        <a href="{%url 'level7'%}">LEVEL 7</a><br>
        <a href="{%url 'level8'%}">LEVEL 8</a><br>
        <a href="{%url 'level9'%}">LEVEL 9</a><br>
        <a href="{%url 'level10'%}">LEVEL 10</a><br>
        <a href="{%url 'level11'%}">LEVEL 11</a><br>

        <!-- <p><a href="#">Read more&hellip;</a></p> -->
      </div>
      <div class="col2">
        <h3 class="title">8th mile events</h3>
        <ul class="list">
          <li><a href="http://8thmile.rvce.edu.in/tech.html">Hack 59</a></li>
          <li><a href="http://8thmile.rvce.edu.in/tech.html">Business Marathon</a></li>
          <li><a href="http://8thmile.rvce.edu.in/tech.html">Stock Market Comp.</a></li>
          <li><a href="http://8thmile.rvce.edu.in/gaming.html">COD Mobile</a></li>
          <li><a href="http://8thmile.rvce.edu.in/gaming.html">CS GO</a></li>
          <li><a href="http://8thmile.rvce.edu.in/gaming.html">FIFA '20</a></li>
          <li><a href="http://8thmile.rvce.edu.in/gaming.html">NFS</a></li>
          <li><a href="http://8thmile.rvce.edu.in/dramatics.html">Mad Attack</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div id="search" class="boxed">
      <h2 class="title">Quick Search</h2>
      <div class="content">
        <form id="searchform" method="get" action="http://google.com/search">
          <fieldset>
          <input id="searchinput" type="text" name="q" value="" />
          <input id="searchsubmit" type="submit" value="Search" />
          </fieldset>
        </form>
        <p><a href="https://www.google.com/" action="_blank">Advanced Search</a></p>
      </div>
    </div>
    <div id="news" class="boxed">
      <h2 class="title">News &amp; Events</h2>
      <div class="content">
        <ul>
          <li class="first">
            <h3>24 January 2020</h3>
            <p><a href="#">Coding Club organised 8th mile pre event : The Amazing Race</a></p>
          </li>
          <li>
            <h3>16 November 2019</h3>
            <p><a href="#">Coding Club rvce organised All india Police hackathon </a></p>
          </li>
          <li>
            <h3>18 October 2019</h3>
            <p><a href="#">Coding Club's recruitment drive ends.</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div id="extra" class="boxed">
      <h2 class="title">USeful Links</h2>
      <div class="content">
        <ul class="list">
          <li class="first"><a href="https://en.wikipedia.org/wiki/Brute-force_attack">Brute Force Attack</a></li>
          <li><a href="https://infosorce.com/how-to-use-inspect-element-to-hack-passwords/">Inspect element</a></li>
          <li><a href="https://itsfoss.com/checksum-tools-guide-linux/">Hashing Tools</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Client-side_storage">Client Side Storage</a></li>
          <li><a href="https://sciencing.com/convert-between-base-number-systems-8442032.html">Base Conversion</a></li>
          <!-- <li><a href="#">KAli Linux</a></li> -->
          <!-- <li><a href="#">SSH</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
  <p id="legal">&copy;2020 Relay Hack, 8th mile, Coding Club RVCE . All Rights Reserved<br />

  <p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a target="_blank" href="http://validator.w3.org/check/referer"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
